generated-by = makedeb-makepkg

pkgbase = rare
	pkgdesc = Open source alternative for Epic Games Launcher, using Legendary
	pkgver = 1.10.11.525
	pkgrel = 1
	url = https://github.com/RareDevs/Rare
	arch = any
	license = GPL3
	makedepends = git
	makedepends = python3-build
	makedepends = python3-installer
	makedepends = python3-wheel
	makedepends = python3-setuptools
	makedepends = python3-setuptools-scm
	depends = python3-pyside6
	depends = python3-requests
	depends = python3-qtawesome
	depends = python3-orjson
	depends = python3-vdf
	depends = legendary
	optdepends = wine: run Windows games
	optdepends = python3-pypresence: Discord RPC integration
	optdepends = python3-webview: embedded browser for logging in
	source = git+https://github.com/RareDevs/Rare.git#tag=1.10.11.525
	sha256sums = 5571dce60d9dfca6f58c678a31a8e24425b3cb64e7184a8451a0fdcf47702f1f

pkgname = rare
