generated-by = makedeb-makepkg

pkgbase = rare
	pkgdesc = A GUI for legendary, an open source replacement for Epic Games Launcher
	pkgver = 1.6.2
	pkgrel = 1
	url = https://github.com/Dummerle/Rare
	arch = any
	license = GPL3
	makedepends = git
	makedepends = python3-setuptools
	makedepends = gendesk
	depends = python3-wheel
	depends = python3-setuptools
	depends = python3-pyqt5
	depends = python3-qtawesome
	depends = python3-requests
	depends = python3-pil
	depends = python3-psutil
	depends = python3-pypresence
	optdepends = wine-staging: Run windows games
	provides = rare
	conflicts = rare-git
	source = rare-1.6.2.tar.gz::https://github.com/Dummerle/Rare/archive/refs/tags/1.6.2.tar.gz
	sha256sums = e63ae0f57df5d46efca127bc1da46716e8842e85233dd52a981d82e3d43aaf29

pkgname = rare
