generated-by = makedeb-makepkg

pkgbase = rare
	pkgdesc = A GUI for legendary, an open source replacement for Epic Games Launcher
	pkgver = 1.10.0
	pkgrel = 1
	url = https://github.com/Dummerle/Rare
	arch = any
	license = GPL3
	makedepends = git
	makedepends = python3-setuptools
	depends = python3-wheel
	depends = python3-pyqt5
	depends = python3-qtawesome
	depends = python3-requests
	depends = python3-typing-extension
	depends = legendary
	optdepends = wine-staging: Run windows games
	optdepends = python3-pypresence
	conflicts = rare-git
	source = rare-1.10.0::git+https://github.com/Dummerle/Rare#tag=1.10.0
	sha256sums = SKIP

pkgname = rare
